README.md

{{ if ne .chezmoi.os "windows" -}}
.chezmoiscripts/windows/**
Onedrive
.config/winget
{{ end -}}

{{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
.bashrc
.bashrc.d/**
{{ end -}}

{{- if and (hasKey .chezmoi.kernel "osrelease") (not ( or ( contains "microsoft" ( lower .chezmoi.kernel.osrelease )) ( contains "wsl" ( lower .chezmoi.kernel.osrelease )))) }}
.bashrc.d/agent-bridge.bashrc
{{ end -}}
